In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, col, monotonically_increasing_id, row_number,min
import os
import pandas

In [7]:
file_path = 'input-data-set/Inventory_Management_Src1.csv'

# input_file_path = os.path.join(script_dir, relative_path)

# Initialize Spark session

In [8]:
spark = SparkSession.builder \
    .appName("Star Schema") \
    .getOrCreate()

In [4]:

spark.sparkContext.setLogLevel("ERROR")

In [44]:


try:
    df = spark.read.csv(file_path, header=True, inferSchema=True)
except Exception as e:
    print("an error was occured reading the main input file " )
    print( "ERROR: " , e)

In [46]:
# define output folder and handle the case when output does not exist

output_dir = "output"
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

In [57]:
#  Customers Dimension Table
try:
    customers_df = df.select("CUSTOMER_ID", "Customer Name", "CUSTOMER_LOGIN_ID", 
                         "CUSTOMER_STREET_ADDRESS", "CUSTOMER_CITY", "CUSTOMER_STATE", 
                         "CUSTOMER_ZIP", "CUSTOMER_PHONE_NO").dropDuplicates()
    
    windowSpec = Window.orderBy(monotonically_increasing_id())
    customers_dim = customers_df.withColumn("CUSTOMER_DIM_ID", row_number().over(windowSpec))
    
    # show Customers Dimension table
    customers_dim.show() 
except Exception as e:
    print("an error was occured while creating cutomers dimension table " )
    print( "ERROR: " , e)

+-----------+------------------+-----------------+-----------------------+-------------+--------------+------------+-----------------+---------------+
|CUSTOMER_ID|     Customer Name|CUSTOMER_LOGIN_ID|CUSTOMER_STREET_ADDRESS|CUSTOMER_CITY|CUSTOMER_STATE|CUSTOMER_ZIP|CUSTOMER_PHONE_NO|CUSTOMER_DIM_ID|
+-----------+------------------+-----------------+-----------------------+-------------+--------------+------------+-----------------+---------------+
|     100078|     Caldwell Wade|             5078|   216-4377 Semper, St.|     COLUMBUS|          OHIO|       94154|     027-779-9608|              1|
|     100003|       Fritz Grant|             5003|   Ap #897-7736 Eges...| PHILADELPHIA|  PENNSYLVANIA|       65342|     029-197-3614|              2|
|     100082|    Graiden Oneill|             5082|   P.O. Box 708, 751...|       BOSTON|MASSAACHUSETTS|       95485|     011-485-6145|              3|
|     100040|       Caryn Doyle|             5040|      3258 Massa Avenue|     NEW YORK|       NEWYORK|       92424|     090-909-0118|              4|
|     100005|      Tatyana Ball|             5005|   Ap #422-2469 Eget...|      HOUSTON|         TEXAS|       63842|     093-567-5411|              5|
|     100097|   Ignatius Mercer|             5097|   366-698 Auctor, A...|      PHOENIX|       ARIZONA|       98187|     017-928-0125|              6|
|     100083|   Danielle Wilcox|             5083|   7967 Lobortis. St...| PHILADELPHIA|  PENNSYLVANIA|       84107|     025-225-3040|              7|
|     100010|    Clio Middleton|             5010|   P.O. Box 780, 390...| PHILADELPHIA|  PENNSYLVANIA|       63859|     075-516-4398|              8|
|     100022|     Angelica Lamb|             5022|   AP #580-4729 Cras...|     COLUMBUS|          OHIO|       53848|     065-434-0244|              9|
|     100084|      Ebony Durham|             5084|           9214 Ac, Ave|    SAN DIEGO|    CALIFORNIA|       76584|     003-620-6495|             10|
|     100024|    Dora Zimmerman|             5024|   Ap #386-1113 Dign...|      CHICAGO|      ILLINOIS|       73494|     003-363-9672|             11|
|     100057|      Edward Lopez|             5057|   P.O. Box 523, 732...|      PHOENIX|       ARIZONA|       53765|     032-378-8856|             12|
|     100021|       Nora Stuart|             5021|     7794 Elementum Av.|      HOUSTON|         TEXAS|       79987|     008-962-2784|             13|
|     100072|     Ayanna Riddle|             5072|   Ap #865-2255 Viva...|     COLUMBUS|          OHIO|       96602|     069-671-4776|             14|
|     100015|  Timothy Mcdonald|             5015|   P.O. Box 972, 404...|    SAN DIEGO|    CALIFORNIA|       59167|     019-408-7488|             15|
|     100045|    Darryl Ramirez|             5045|         425-9230 A Av.|  Los Angeles|    California|       72180|     013-892-4548|             16|
|     100002|  Chantale Gardner|             5002|           9257 Et, Rd.|  LOS ANGELES|    CALIFORNIA|       58854|     063-786-7948|             17|
|     100058|      Chase Alston|             5058|   P.O. Box 389,2586...|SAN FRANSISCO|    California|       71401|     066-278-8493|             18|
|     100098|       Shaine Good|             5098|   P.O. Box 161, 468...|    SAN DIEGO|    CALIFORNIA|       71455|     057-662-4801|             19|
|     100032|Clinton Valenzuela|             5032|     8114 Imperdiet Av.|  Los Angeles|    California|       61854|     007-980-5252|             20|
+-----------+------------------+-----------------+-----------------------+-------------+--------------+------------+-----------------+---------------+
only showing top 20 rows

In [51]:
# changing to pandas (to save file in csv)
try:
    customers_dim_pandas = customers_dim.toPandas()
    
    # handling the path not found errors 
    
    
    
    # Now save to CSV in the 'output' folder
    customers_dim_pandas.to_csv(f"{output_dir}/customers_dim.csv", index=False)
except Exception as e:
    print("an error was occured while writing(saving) cutomers dimension table " )
    print( "ERROR: " , e)

In [56]:
# product dimension table 

try:

    products_df = df.select("PRODUCT_ID", "CATEGORY_ID", "PRODUCT Name", "PRODUCT Brand", 
                            "Product Model No", "PRODUCT_STOCK").dropDuplicates()
    
    products_df = df.groupby("PRODUCT_ID", "CATEGORY_ID", "PRODUCT Name", "PRODUCT Brand", 
                            "Product Model No").agg(min(col("PRODUCT_STOCK")).alias("PRODUCT_STOCK"))
    
    products_dim = products_df.withColumn("PRODUCT_DIM_ID", row_number().over(windowSpec))
    
    # show  Products Dimension table
    products_dim.show()
    
except Exception as e:
    print("an error was occured while creating product dimension table " )
    print( "ERROR: " , e)

+----------+-----------+------------+-------------+----------------+-------------+--------------+
|PRODUCT_ID|CATEGORY_ID|PRODUCT Name|PRODUCT Brand|Product Model No|PRODUCT_STOCK|PRODUCT_DIM_ID|
+----------+-----------+------------+-------------+----------------+-------------+--------------+
|      3005|       4005|      LAPTOP|           HP|            4620|            1|             1|
|      3093|       4005|      LAPTOP|      TOSHIBA|            4978|            1|             2|
|      3047|       4004|  TELEVISION|      PHILIPS|            4500|            0|             3|
|      3073|       4006|    PENDRIVE|      SANDISK|            9457|            1|             4|
|      3033|       4007|   EARPHONES|         SONY|           11456|            1|             5|
|      3022|       4004|  TELEVISION|           LG|            4950|            1|             6|
|      3094|       4006|    PENDRIVE|     KINGSTON|            9965|            0|             7|
|      3074|       4007|   EARPHONES|        BEATS|           11446|            0|             8|
|      3015|       4002|         BAG|         PUMA|           31330|            0|             9|
|      3086|       4004|  TELEVISION|      SAMSUNG|            4445|            1|            10|
|      3081|       4007|   EARPHONES|        BEATS|           17890|            0|            11|
|      3069|       4007|   EARPHONES|         BOSE|           11460|            0|            12|
|      3054|       4006|    PENDRIVE|    MOSERBAER|            9750|            1|            13|
|      3039|       4007|   EARPHONES|          JBL|           11450|            1|            14|
|      3072|       4008|  DVD PLAYER|        ONIDA|            2360|            1|            15|
|      3080|       4001|       SHOES|       REEBOK|           21340|            1|            16|
|      3079|       4001|       SHOES|       REEBOK|           24580|            0|            17|
|      3017|       4008|  DVD PLAYER|        ONIDA|            2800|            0|            18|
|      3025|       4000|      CAMERA|        SONY |            1760|            0|            19|
|      3056|       4005|      LAPTOP|         DELL|            4789|            1|            20|
+----------+-----------+------------+-------------+----------------+-------------+--------------+
only showing top 20 rows

In [53]:
#changing to pandas and saving as csv file
try:
    products_dim_pandas = products_dim.toPandas()
    products_dim_pandas.to_csv(f"{output_dir}/products_dim.csv", index=False)
    
except Exception as e:
    print("an error was occured while saving(writing) product dimension table " )
    print( "ERROR: " , e)

In [55]:
# Create Seller Dimension Table
try:
    sellers_df = df.select("SELLER_ID", "SELLER_NAME", "SELLER_RATING", "SELLER_STREET_ADDRESS", 
                           "SELLER_CITY", "SELLER_STATE", "SELLER_ZIP", "SELLER_PHONE_NO").dropDuplicates()
    
    sellers_dim = sellers_df.withColumn("SELLER_DIM_ID", row_number().over(windowSpec))
    
    # show Seller Dimension table
    sellers_dim.show()  # write.csv("output/sellers_dim", header=True)

except Exception as e:
    print("an error was occured while creating seller dimension table " )
    print( "ERROR: " , e)

+---------+----------------+-------------+---------------------+-----------+--------------------+----------+---------------+-------------+
|SELLER_ID|     SELLER_NAME|SELLER_RATING|SELLER_STREET_ADDRESS|SELLER_CITY|        SELLER_STATE|SELLER_ZIP|SELLER_PHONE_NO|SELLER_DIM_ID|
+---------+----------------+-------------+---------------------+-----------+--------------------+----------+---------------+-------------+
|   200046|    Leroy Conner|            5| P.O. Box 965, 585...|      BREST|            BRITTANY|     76254| 08 90 52 61 56|            1|
|   200020|   Basia Nielsen|            4| Ap #755-3390 Semp...|      TOURS|              CENTRE|     80874| 03 11 73 89 94|            2|
|   200091|    Leo Atkinson|            4|  134-8687 Primis St.|      BREST|            BRITTANY|     81059| 06 56 07 84 00|            3|
|   200089|  Deborah Wooten|            5|      7708 Lorem, Rd.|       LYON|         RHONE-ALPES|     58575| 01 15 87 00 65|            4|
|   200011|   Jescie Kelley|            2|       2332 Risus Ave|   LE  MANS|    PAYS DE LA LOIRE|     79306| 05 97 51 95 35|            5|
|   200010|    Bert Delgado|            1| P.O. Box 300, 879...|      NIMES|LANGUEDOC-ROUSSILLON|     94978| 02 36 21 21 68|            6|
|   200038|        Bo Curry|            2|  392-5160 At, Street|      DIJON|           BOURGOGNE|     73038| 05 34 20 09 53|            7|
|   200018|       Cara Mays|            5| P.O. Box 672, 698...|   GRENOBLE|         RHONE-ALPES|     72207| 02 62 79 33 75|            8|
|   200025|      Zia Jacobs|            1|   142-2259 Eros. St.|      NIMES|LANGUEDOC-ROUSSILLON|     73940| 04 06 38 68 77|            9|
|   200083|      Elmo Cross|            1|        1080 Dui, St.|   GRENOBLE|         RHONE-ALPES|     83608| 01 44 53 77 56|           10|
|   200049|Cherokee Richard|            5| Ap #381-3851 Eget...|      PARIS|       ILE-DE-FRANCE|     72816| 01 33 96 49 60|           11|
|   200078|      Eve Coffey|            5|  328-4434 Nec Avenue|       CAEN|     BASSE-NORMANDIE|     94198| 04 73 32 75 53|           12|
|   200093|  Palmer Simpson|            2|    3966 Donec Street|      DIJON|           BOURGOGNE|     73506| 05 58 68 70 12|           13|
|   200055|   Vernon George|            2| 164-9024 Mollis S...|       METZ|            LORRAINE|     77588| 01 86 75 94 18|           14|
|   200071|   Octavia Blair|            5| P.O. Box 237, 257...|      PARIS|       ILE-DE-FRANCE|     79555| 08 03 10 94 17|           15|
|   200023|    Akeem Guerra|            1| Ap #586-1460 Temp...|       LYON|         RHONE-ALPES|     68382| 01 63 70 67 55|           16|
|   200070|  Stacey Solomon|            4| P.O. Box 643, 497...|       CAEN|     BASSE-NORMANDIE|     77610| 07 82 17 55 75|           17|
|   200026| Shoshana Tanner|            2|      126-1135 Id Rd.|      TOURS|              CENTRE|     75729| 08 43 18 18 46|           18|
|   200075|  Chelsea Nguyen|            2|      326-6500 A Road|      TOURS|              CENTRE|     68375| 06 27 14 55 56|           19|
|   200069|     Rina Malone|            1| 565-9093 Tellus, Av.|      TOURS|              CENTRE|     64702| 01 77 01 21 34|           20|
+---------+----------------+-------------+---------------------+-----------+--------------------+----------+---------------+-------------+
only showing top 20 rows

In [1]:
#creating pandas and saving it 
try:
    sellers_dim_pandas = sellers_dim.toPandas()
    
    sellers_dim_pandas.to_csv(f"{output_dir}/sellers_dim.csv", index=False)

except Exception as e:
    print("an error was occured while writing  seller dimension table " )
    print( "ERROR: " , e)

an error was occured while writing  seller dimension table
ERROR:  name 'sellers_dim' is not defined

In [2]:

# Create Time Dimension 

try:
    time_df = df.select("Date").dropDuplicates()
    
    # Extract Year, Quarter, Month, Day_of_Week
    from pyspark.sql.functions import  to_date, year, quarter, month, dayofweek
    
    time_dim = time_df.withColumn("YEAR", year(to_date(col("Date"),"dd-MMM-yy"))) \
                      .withColumn("QUARTER", quarter(to_date(col("Date"),"dd-MMM-yy"))) \
                      .withColumn("MONTH", month(to_date(col("Date"),"dd-MMM-yy"))) \
                      .withColumn("DAY_OF_WEEK", dayofweek(to_date(col("Date"),"dd-MMM-yy"))) \
                      .withColumn("TIME_DIM_ID", row_number().over(windowSpec))
    
                      
    # abc =  year(to_date("28-aug-11", "dd-mmm-yy"))
    # print(abc)
    
    
    time_dim.select.show()  #write.csv("output/time_dim", header=True)

except Exception as e:
    print("an error was occured while creating Date dimension table " )
    print( "ERROR: " , e)

an error was occured while creating Date dimension table
ERROR:  name 'df' is not defined

In [4]:
try:
    time_dim_pandas = time_dim.toPandas()
    time_dim_pandas.to_csv(f"{output_dir}/time_dim.csv", index=False)
except Exception as e:
    print("an error was occured while saving time dimension table " )
    print( "ERROR: " , e)

an error was occured while saving time dimension table
ERROR:  name 'time_dim' is not defined

In [11]:
#  Transaction  Table

try:

    transaction_df = df.select("TRANSACTION_ID", "TRANSACTION_DATE", "TRANSACTION_AMOUNT", 
                               "TRANSACTION_TYPE", "DISPATCH_DATE", "EXPECTED_DATE", "DELIVERY_DATE").dropDuplicates()
    
    transaction_dim = transaction_df.withColumn("TRANSACTION_DIM_ID", row_number().over(windowSpec))
    
    
    transaction_dim.show() 
    
except Exception as e:
    print("an error was occured while creating transaction dimension table " )
    print( "ERROR: " , e)

+------------------+--------------+----------------+------------------+----------------+-------------+-------------+-------------+
|TRANSACTION_DIM_ID|TRANSACTION_ID|TRANSACTION_DATE|TRANSACTION_AMOUNT|TRANSACTION_TYPE|DISPATCH_DATE|EXPECTED_DATE|DELIVERY_DATE|
+------------------+--------------+----------------+------------------+----------------+-------------+-------------+-------------+
|                 1|          5223|       12-Aug-11|              1900|             COD|    13-Aug-11|    16-Aug-11|    16-Aug-11|
|                 2|          5330|       27-Nov-11|              2100|     NET BANKING|    28-Nov-11|    01-Dec-11|    01-Dec-11|
|                 3|          5341|       08-Dec-11|              1800|     CREDIT CARD|    09-Dec-11|    12-Dec-11|    12-Dec-11|
|                 4|          5741|       11-Jan-13|               600|             COD|    12-Jan-13|    15-Jan-13|    15-Jan-13|
|                 5|          5860|       11-May-13|              8500|          PAYPAL|    11-May-13|    14-May-13|    14-May-13|
|                 6|          5995|       22-Sep-13|             16000|             COD|    23-Sep-13|    26-Sep-13|    27-Sep-13|
|                 7|          5440|       15-Mar-12|             30000|     NET BANKING|    17-Mar-12|    20-Mar-12|    20-Mar-12|
|                 8|          5465|       10-Apr-12|              1600|          PAYPAL|    11-Apr-12|    14-Apr-12|    14-Apr-12|
|                 9|          5472|       17-Apr-12|               650|     CREDIT CARD|    18-Apr-12|    21-Apr-12|    21-Apr-12|
|                10|          5542|       26-Jun-12|              4800|      DEBIT CARD|    27-Jun-12|    30-Jun-12|    30-Jun-12|
|                11|          5974|       01-Sep-13|               350|     NET BANKING|    02-Sep-13|    05-Sep-13|    05-Sep-13|
|                12|          5284|       12-Oct-11|              2300|     CREDIT CARD|    13-Oct-11|    16-Oct-11|    16-Oct-11|
|                13|          5331|       28-Nov-11|              3800|     CREDIT CARD|    29-Nov-11|    02-Dec-11|    02-Dec-11|
|                14|          5500|       15-May-12|              3800|     CREDIT CARD|    16-May-12|    19-May-12|    19-May-12|
|                15|          5584|       07-Aug-12|              2000|     NET BANKING|    08-Aug-12|    11-Aug-12|    11-Aug-12|
|                16|          5376|       12-Jan-12|              2450|          PAYPAL|    13-Jan-12|    16-Jan-12|    16-Jan-12|
|                17|          5749|       19-Jan-13|              1600|          PAYPAL|    20-Jan-13|    23-Jan-13|    23-Jan-13|
|                18|          5090|       01-Apr-11|              2900|             COD|    02-Apr-11|    05-Apr-11|    05-Apr-11|
|                19|          5367|       03-Jan-12|              4400|     CREDIT CARD|    04-Jan-12|    07-Jan-12|    07-Jan-12|
|                20|          5511|       26-May-12|             40500|          PAYPAL|    27-May-12|    30-May-12|    31-May-12|
+------------------+--------------+----------------+------------------+----------------+-------------+-------------+-------------+
only showing top 20 rows

In [5]:
try:
    transaction_dim_pandas   = transaction_dim.toPandas()
    
    transaction_dim_pandas.to_csv(f"{output_dir}/transaction_dim.csv", index=False)
    
except Exception as e:
    print("an error was occured while writing  trasaction dimension table " )
    print( "ERROR: " , e)

an error was occured while writing  trasaction dimension table
ERROR:  name 'transaction_dim' is not defined

In [25]:

#  Fact Table (Inventory)
try:
    inventory_fact_df = df.select("DATE" ,"TRANSACTION_ID", "PRODUCT_ID" , "CUSTOMER_ID", 
                               "SELLER_ID","PRODUCT_COST_PRICE","PRODUCT_SELLING_PRICE").dropDuplicates()
    inventory_fact_df = inventory_fact_df.join(time_dim, "DATE", "inner")
    
    inventory_fact = inventory_fact_df.withColumn("FACT_ID", row_number().over(windowSpec))
    
    inventory_fact.show()

except Exception as e:
    print("an error was occured while creating inventory fact table " )
    print( "ERROR: " , e)

+-------+-----------+--------------+----------+-----------+---------+------------------+---------------------+
|FACT_ID|TIME_DIM_ID|TRANSACTION_ID|PRODUCT_ID|CUSTOMER_ID|SELLER_ID|PRODUCT_COST_PRICE|PRODUCT_SELLING_PRICE|
+-------+-----------+--------------+----------+-----------+---------+------------------+---------------------+
|      1|        917|          5282|      3026|     100098|   200071|             38000|                41000|
|      2|        278|          5303|      3058|     100031|   200043|              1200|                 1100|
|      3|        794|          5582|      3080|     100025|   200003|              1900|                 2000|
|      4|        683|          5031|      3093|     100021|   200019|             47000|                52000|
|      5|        829|          5676|      3003|     100011|   200042|              6500|                 6750|
|      6|        163|          5252|      3024|     100079|   200096|              6000|                 6200|
|      7|        324|          5536|      3026|     100001|   200095|             38000|                41000|
|      8|        994|          5724|      3094|     100092|   200019|               560|                  750|
|      9|        692|          5888|      3053|     100052|   200090|              1400|                 1350|
|     10|        552|          5927|      3034|     100015|   200097|              1600|                 1800|
|     11|        716|          5083|      3030|     100087|   200077|             16000|                18000|
|     12|        924|          5122|      3006|     100044|   200068|             13000|                13000|
|     13|        451|          5473|      3095|     100043|   200073|              1800|                 1950|
|     14|        617|          5502|      3099|     100009|   200095|              8000|                 8000|
|     15|        659|          5521|      3054|     100017|   200075|               400|                  600|
|     16|        494|          5321|      3020|     100090|   200057|               800|                  900|
|     17|        427|          5452|      3007|     100015|   200070|             40100|                40500|
|     18|        643|          5051|      3094|     100073|   200009|               560|                  750|
|     19|        185|          5106|      3024|     100024|   200002|              6000|                 6200|
|     20|        251|          5156|      3027|     100083|   200031|               500|                  650|
+-------+-----------+--------------+----------+-----------+---------+------------------+---------------------+
only showing top 20 rows

In [28]:
try:
    inventory_fact_pandas  = inventory_fact.select("FACT_ID", "TIME_DIM_ID", "TRANSACTION_ID", 
                          "PRODUCT_ID", "CUSTOMER_ID", "SELLER_ID", 
                          "PRODUCT_COST_PRICE", "PRODUCT_SELLING_PRICE") \
                          .toPandas()
    
    inventory_fact_pandas.to_csv(f"output/inventory_fact.csv", index=False)

except Exception as e:
    print("an error was occured while saving invenotry fact table " )
    print( "ERROR: " , e)

In [39]:
spark.stop()