In [39]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, col, monotonically_increasing_id, row_number
from pyspark.sql.functions import sum, col,avg,count,upper,round
import os

In [5]:
spark = SparkSession.builder \
    .appName("Reports Generation") \
    .getOrCreate()

In [65]:
print(os.getcwd())

output_dir = "output-reports"
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

C:\akash_sahu\MiniProject

In [53]:
# Load the Dimension and Fact tables
customers_dim = spark.read.csv("output/customers_dim.csv", header=True, inferSchema=True)
products_dim = spark.read.csv("output/products_dim.csv", header=True, inferSchema=True)
sellers_dim = spark.read.csv("output/sellers_dim.csv", header=True, inferSchema=True)
time_dim = spark.read.csv("output/time_dim.csv", header=True, inferSchema=True)
transaction_dim = spark.read.csv("output/transaction_dim.csv", header=True, inferSchema=True)
inventory_fact = spark.read.csv("output/inventory_fact.csv", header=True, inferSchema=True)

In [54]:
# just checking 

customers_dim.show()
products_dim.show()
sellers_dim.show()
time_dim.show()
transaction_dim.show()
inventory_fact.show()

+---------------+-----------+------------------+-----------------+-----------------------+-------------+--------------+------------+-----------------+
|CUSTOMER_DIM_ID|CUSTOMER_ID|     Customer Name|CUSTOMER_LOGIN_ID|CUSTOMER_STREET_ADDRESS|CUSTOMER_CITY|CUSTOMER_STATE|CUSTOMER_ZIP|CUSTOMER_PHONE_NO|
+---------------+-----------+------------------+-----------------+-----------------------+-------------+--------------+------------+-----------------+
|              1|     100078|     Caldwell Wade|             5078|   216-4377 Semper, St.|     COLUMBUS|          OHIO|       94154|     027-779-9608|
|              2|     100003|       Fritz Grant|             5003|   Ap #897-7736 Eges...| PHILADELPHIA|  PENNSYLVANIA|       65342|     029-197-3614|
|              3|     100082|    Graiden Oneill|             5082|   P.O. Box 708, 751...|       BOSTON|MASSAACHUSETTS|       95485|     011-485-6145|
|              4|     100040|       Caryn Doyle|             5040|      3258 Massa Avenue|     NEW YORK|       NEWYORK|       92424|     090-909-0118|
|              5|     100005|      Tatyana Ball|             5005|   Ap #422-2469 Eget...|      HOUSTON|         TEXAS|       63842|     093-567-5411|
|              6|     100097|   Ignatius Mercer|             5097|   366-698 Auctor, A...|      PHOENIX|       ARIZONA|       98187|     017-928-0125|
|              7|     100083|   Danielle Wilcox|             5083|   7967 Lobortis. St...| PHILADELPHIA|  PENNSYLVANIA|       84107|     025-225-3040|
|              8|     100010|    Clio Middleton|             5010|   P.O. Box 780, 390...| PHILADELPHIA|  PENNSYLVANIA|       63859|     075-516-4398|
|              9|     100022|     Angelica Lamb|             5022|   AP #580-4729 Cras...|     COLUMBUS|          OHIO|       53848|     065-434-0244|
|             10|     100084|      Ebony Durham|             5084|           9214 Ac, Ave|    SAN DIEGO|    CALIFORNIA|       76584|     003-620-6495|
|             11|     100024|    Dora Zimmerman|             5024|   Ap #386-1113 Dign...|      CHICAGO|      ILLINOIS|       73494|     003-363-9672|
|             12|     100057|      Edward Lopez|             5057|   P.O. Box 523, 732...|      PHOENIX|       ARIZONA|       53765|     032-378-8856|
|             13|     100021|       Nora Stuart|             5021|     7794 Elementum Av.|      HOUSTON|         TEXAS|       79987|     008-962-2784|
|             14|     100072|     Ayanna Riddle|             5072|   Ap #865-2255 Viva...|     COLUMBUS|          OHIO|       96602|     069-671-4776|
|             15|     100015|  Timothy Mcdonald|             5015|   P.O. Box 972, 404...|    SAN DIEGO|    CALIFORNIA|       59167|     019-408-7488|
|             16|     100045|    Darryl Ramirez|             5045|         425-9230 A Av.|  Los Angeles|    California|       72180|     013-892-4548|
|             17|     100002|  Chantale Gardner|             5002|           9257 Et, Rd.|  LOS ANGELES|    CALIFORNIA|       58854|     063-786-7948|
|             18|     100058|      Chase Alston|             5058|   P.O. Box 389,2586...|SAN FRANSISCO|    California|       71401|     066-278-8493|
|             19|     100098|       Shaine Good|             5098|   P.O. Box 161, 468...|    SAN DIEGO|    CALIFORNIA|       71455|     057-662-4801|
|             20|     100032|Clinton Valenzuela|             5032|     8114 Imperdiet Av.|  Los Angeles|    California|       61854|     007-980-5252|
+---------------+-----------+------------------+-----------------+-----------------------+-------------+--------------+------------+-----------------+
only showing top 20 rows

+--------------+----------+-----------+------------+-------------+----------------+-------------+
|PRODUCT_DIM_ID|PRODUCT_ID|CATEGORY_ID|PRODUCT Name|PRODUCT Brand|Product Model No|PRODUCT_STOCK|
+--------------+----------+-----------+------------+-------------+----------------+-------------+
|             1|      3005|       4005|      LAPTOP|           HP|            4620|            1|
|             2|      3093|       4005|      LAPTOP|      TOSHIBA|            4978|            1|
|             3|      3047|       4004|  TELEVISION|      PHILIPS|            4500|            0|
|             4|      3073|       4006|    PENDRIVE|      SANDISK|            9457|            1|
|             5|      3033|       4007|   EARPHONES|         SONY|           11456|            1|
|             6|      3022|       4004|  TELEVISION|           LG|            4950|            1|
|             7|      3094|       4006|    PENDRIVE|     KINGSTON|            9965|            0|
|             8|      3074|       4007|   EARPHONES|        BEATS|           11446|            0|
|             9|      3015|       4002|         BAG|         PUMA|           31330|            0|
|            10|      3086|       4004|  TELEVISION|      SAMSUNG|            4445|            1|
|            11|      3081|       4007|   EARPHONES|        BEATS|           17890|            0|
|            12|      3069|       4007|   EARPHONES|         BOSE|           11460|            0|
|            13|      3054|       4006|    PENDRIVE|    MOSERBAER|            9750|            1|
|            14|      3039|       4007|   EARPHONES|          JBL|           11450|            1|
|            15|      3072|       4008|  DVD PLAYER|        ONIDA|            2360|            1|
|            16|      3080|       4001|       SHOES|       REEBOK|           21340|            1|
|            17|      3079|       4001|       SHOES|       REEBOK|           24580|            0|
|            18|      3017|       4008|  DVD PLAYER|        ONIDA|            2800|            0|
|            19|      3025|       4000|      CAMERA|        SONY |            1760|            0|
|            20|      3056|       4005|      LAPTOP|         DELL|            4789|            1|
+--------------+----------+-----------+------------+-------------+----------------+-------------+
only showing top 20 rows

+-------------+---------+----------------+-------------+---------------------+-----------+--------------------+----------+---------------+
|SELLER_DIM_ID|SELLER_ID|     SELLER_NAME|SELLER_RATING|SELLER_STREET_ADDRESS|SELLER_CITY|        SELLER_STATE|SELLER_ZIP|SELLER_PHONE_NO|
+-------------+---------+----------------+-------------+---------------------+-----------+--------------------+----------+---------------+
|            1|   200046|    Leroy Conner|            5| P.O. Box 965, 585...|      BREST|            BRITTANY|     76254| 08 90 52 61 56|
|            2|   200020|   Basia Nielsen|            4| Ap #755-3390 Semp...|      TOURS|              CENTRE|     80874| 03 11 73 89 94|
|            3|   200091|    Leo Atkinson|            4|  134-8687 Primis St.|      BREST|            BRITTANY|     81059| 06 56 07 84 00|
|            4|   200089|  Deborah Wooten|            5|      7708 Lorem, Rd.|       LYON|         RHONE-ALPES|     58575| 01 15 87 00 65|
|            5|   200011|   Jescie Kelley|            2|       2332 Risus Ave|   LE  MANS|    PAYS DE LA LOIRE|     79306| 05 97 51 95 35|
|            6|   200010|    Bert Delgado|            1| P.O. Box 300, 879...|      NIMES|LANGUEDOC-ROUSSILLON|     94978| 02 36 21 21 68|
|            7|   200038|        Bo Curry|            2|  392-5160 At, Street|      DIJON|           BOURGOGNE|     73038| 05 34 20 09 53|
|            8|   200018|       Cara Mays|            5| P.O. Box 672, 698...|   GRENOBLE|         RHONE-ALPES|     72207| 02 62 79 33 75|
|            9|   200025|      Zia Jacobs|            1|   142-2259 Eros. St.|      NIMES|LANGUEDOC-ROUSSILLON|     73940| 04 06 38 68 77|
|           10|   200083|      Elmo Cross|            1|        1080 Dui, St.|   GRENOBLE|         RHONE-ALPES|     83608| 01 44 53 77 56|
|           11|   200049|Cherokee Richard|            5| Ap #381-3851 Eget...|      PARIS|       ILE-DE-FRANCE|     72816| 01 33 96 49 60|
|           12|   200078|      Eve Coffey|            5|  328-4434 Nec Avenue|       CAEN|     BASSE-NORMANDIE|     94198| 04 73 32 75 53|
|           13|   200093|  Palmer Simpson|            2|    3966 Donec Street|      DIJON|           BOURGOGNE|     73506| 05 58 68 70 12|
|           14|   200055|   Vernon George|            2| 164-9024 Mollis S...|       METZ|            LORRAINE|     77588| 01 86 75 94 18|
|           15|   200071|   Octavia Blair|            5| P.O. Box 237, 257...|      PARIS|       ILE-DE-FRANCE|     79555| 08 03 10 94 17|
|           16|   200023|    Akeem Guerra|            1| Ap #586-1460 Temp...|       LYON|         RHONE-ALPES|     68382| 01 63 70 67 55|
|           17|   200070|  Stacey Solomon|            4| P.O. Box 643, 497...|       CAEN|     BASSE-NORMANDIE|     77610| 07 82 17 55 75|
|           18|   200026| Shoshana Tanner|            2|      126-1135 Id Rd.|      TOURS|              CENTRE|     75729| 08 43 18 18 46|
|           19|   200075|  Chelsea Nguyen|            2|      326-6500 A Road|      TOURS|              CENTRE|     68375| 06 27 14 55 56|
|           20|   200069|     Rina Malone|            1| 565-9093 Tellus, Av.|      TOURS|              CENTRE|     64702| 01 77 01 21 34|
+-------------+---------+----------------+-------------+---------------------+-----------+--------------------+----------+---------------+
only showing top 20 rows

+-----------+----+-------+-----+-----------+---------+
|TIME_DIM_ID|YEAR|QUARTER|MONTH|DAY_OF_WEEK|     Date|
+-----------+----+-------+-----+-----------+---------+
|          1|2011|      3|    8|          1|28-Aug-11|
|          2|2012|      1|    2|          2|20-Feb-12|
|          3|2012|      3|    7|          1|22-Jul-12|
|          4|2012|      3|    7|          1|29-Jul-12|
|          5|2012|      4|   10|          3|23-Oct-12|
|          6|2013|      2|    6|          4|12-Jun-13|
|          7|2011|      2|    5|          7|28-May-11|
|          8|2012|      3|    9|          3|11-Sep-12|
|          9|2012|      4|   11|          6|02-Nov-12|
|         10|2013|      1|    2|          5|14-Feb-13|
|         11|2013|      3|    8|          1|18-Aug-13|
|         12|2011|      4|   11|          2|21-Nov-11|
|         13|2013|      1|    2|          3|12-Feb-13|
|         14|2011|      3|    8|          5|18-Aug-11|
|         15|2012|      3|    8|          5|30-Aug-12|
|         16|2013|      1|    3|          6|22-Mar-13|
|         17|2013|      1|    3|          3|26-Mar-13|
|         18|2012|      2|    5|          1|06-May-12|
|         19|2012|      3|    9|          5|13-Sep-12|
|         20|2012|      3|    9|          2|17-Sep-12|
+-----------+----+-------+-----+-----------+---------+
only showing top 20 rows

+------------------+--------------+----------------+------------------+----------------+-------------+-------------+-------------+
|TRANSACTION_DIM_ID|TRANSACTION_ID|TRANSACTION_DATE|TRANSACTION_AMOUNT|TRANSACTION_TYPE|DISPATCH_DATE|EXPECTED_DATE|DELIVERY_DATE|
+------------------+--------------+----------------+------------------+----------------+-------------+-------------+-------------+
|                 1|          5223|       12-Aug-11|              1900|             COD|    13-Aug-11|    16-Aug-11|    16-Aug-11|
|                 2|          5330|       27-Nov-11|              2100|     NET BANKING|    28-Nov-11|    01-Dec-11|    01-Dec-11|
|                 3|          5341|       08-Dec-11|              1800|     CREDIT CARD|    09-Dec-11|    12-Dec-11|    12-Dec-11|
|                 4|          5741|       11-Jan-13|               600|             COD|    12-Jan-13|    15-Jan-13|    15-Jan-13|
|                 5|          5860|       11-May-13|              8500|          PAYPAL|    11-May-13|    14-May-13|    14-May-13|
|                 6|          5995|       22-Sep-13|             16000|             COD|    23-Sep-13|    26-Sep-13|    27-Sep-13|
|                 7|          5440|       15-Mar-12|             30000|     NET BANKING|    17-Mar-12|    20-Mar-12|    20-Mar-12|
|                 8|          5465|       10-Apr-12|              1600|          PAYPAL|    11-Apr-12|    14-Apr-12|    14-Apr-12|
|                 9|          5472|       17-Apr-12|               650|     CREDIT CARD|    18-Apr-12|    21-Apr-12|    21-Apr-12|
|                10|          5542|       26-Jun-12|              4800|      DEBIT CARD|    27-Jun-12|    30-Jun-12|    30-Jun-12|
|                11|          5974|       01-Sep-13|               350|     NET BANKING|    02-Sep-13|    05-Sep-13|    05-Sep-13|
|                12|          5284|       12-Oct-11|              2300|     CREDIT CARD|    13-Oct-11|    16-Oct-11|    16-Oct-11|
|                13|          5331|       28-Nov-11|              3800|     CREDIT CARD|    29-Nov-11|    02-Dec-11|    02-Dec-11|
|                14|          5500|       15-May-12|              3800|     CREDIT CARD|    16-May-12|    19-May-12|    19-May-12|
|                15|          5584|       07-Aug-12|              2000|     NET BANKING|    08-Aug-12|    11-Aug-12|    11-Aug-12|
|                16|          5376|       12-Jan-12|              2450|          PAYPAL|    13-Jan-12|    16-Jan-12|    16-Jan-12|
|                17|          5749|       19-Jan-13|              1600|          PAYPAL|    20-Jan-13|    23-Jan-13|    23-Jan-13|
|                18|          5090|       01-Apr-11|              2900|             COD|    02-Apr-11|    05-Apr-11|    05-Apr-11|
|                19|          5367|       03-Jan-12|              4400|     CREDIT CARD|    04-Jan-12|    07-Jan-12|    07-Jan-12|
|                20|          5511|       26-May-12|             40500|          PAYPAL|    27-May-12|    30-May-12|    31-May-12|
+------------------+--------------+----------------+------------------+----------------+-------------+-------------+-------------+
only showing top 20 rows

+-------+-----------+--------------+----------+-----------+---------+------------------+---------------------+
|FACT_ID|TIME_DIM_ID|TRANSACTION_ID|PRODUCT_ID|CUSTOMER_ID|SELLER_ID|PRODUCT_COST_PRICE|PRODUCT_SELLING_PRICE|
+-------+-----------+--------------+----------+-----------+---------+------------------+---------------------+
|      1|        917|          5282|      3026|     100098|   200071|             38000|              41000.0|
|      2|        278|          5303|      3058|     100031|   200043|              1200|               1100.0|
|      3|        794|          5582|      3080|     100025|   200003|              1900|               2000.0|
|      4|        683|          5031|      3093|     100021|   200019|             47000|              52000.0|
|      5|        829|          5676|      3003|     100011|   200042|              6500|               6750.0|
|      6|        163|          5252|      3024|     100079|   200096|              6000|               6200.0|
|      7|        324|          5536|      3026|     100001|   200095|             38000|              41000.0|
|      8|        994|          5724|      3094|     100092|   200019|               560|                750.0|
|      9|        692|          5888|      3053|     100052|   200090|              1400|               1350.0|
|     10|        552|          5927|      3034|     100015|   200097|              1600|               1800.0|
|     11|        716|          5083|      3030|     100087|   200077|             16000|              18000.0|
|     12|        924|          5122|      3006|     100044|   200068|             13000|              13000.0|
|     13|        451|          5473|      3095|     100043|   200073|              1800|               1950.0|
|     14|        617|          5502|      3099|     100009|   200095|              8000|               8000.0|
|     15|        659|          5521|      3054|     100017|   200075|               400|                600.0|
|     16|        494|          5321|      3020|     100090|   200057|               800|                900.0|
|     17|        427|          5452|      3007|     100015|   200070|             40100|              40500.0|
|     18|        643|          5051|      3094|     100073|   200009|               560|                750.0|
|     19|        185|          5106|      3024|     100024|   200002|              6000|               6200.0|
|     20|        251|          5156|      3027|     100083|   200031|               500|                650.0|
+-------+-----------+--------------+----------+-----------+---------+------------------+---------------------+
only showing top 20 rows

In [74]:
# transaction_dim.withColumn('sa', transaction_dim.PRODUCT_SELLING_PRICE).show()

# inventory_fact.withColumn('sa', inventory_fact.PRODUCT_SELLING_PRICE+2).show()

In [55]:


# Report 1: Transaction Amount Wise Top 10 Customers
top_10_customers = inventory_fact.join(customers_dim, "CUSTOMER_ID") \
    .join(time_dim, "TIME_DIM_ID") \
    .join(transaction_dim, "TRANSACTION_ID")\
    .where(col("YEAR") == 2011) \
    .groupBy("YEAR", "Customer Name",customers_dim.CUSTOMER_ID ) \
   .agg(sum("TRANSACTION_AMOUNT").alias("TOTAL_SELLING_PRICE")) \
    .orderBy("TOTAL_SELLING_PRICE",ascending = False) \
    .limit(10)

In [75]:
top_10_customers.show()

top_10_customers.toPandas().to_csv(f"{output_dir}/top_10_customers.csv")

+----+----------------+-----------+-------------------+
|YEAR|   Customer Name|CUSTOMER_ID|TOTAL_SELLING_PRICE|
+----+----------------+-----------+-------------------+
|2011|   Angelica Lamb|     100022|             176500|
|2011| Danielle Wilcox|     100083|             125450|
|2011|     Ifeoma Hale|     100017|             117300|
|2011|  Adena Carrillo|     100038|             106450|
|2011|Katelyn Garrison|     100059|             103550|
|2011|  Odette Patrick|     100011|             101000|
|2011| Debra Mcpherson|     100025|              89750|
|2011|  Claudia Carter|     100094|              89600|
|2011|     Echo Spence|     100079|              83600|
|2011|    Carly Parker|     100074|              82250|
+----+----------------+-----------+-------------------+

In [57]:
# Report 2: State wise number of orders
statewise_orders = inventory_fact.join(customers_dim, "CUSTOMER_ID") \
    .groupBy(upper(col("CUSTOMER_STATE")).alias("CUSTOMER_STATE")) \
    .agg(count("TRANSACTION_ID").alias("ORDER_COUNT")) \
    .orderBy(col("CUSTOMER_STATE"),ascending = True)

In [76]:
statewise_orders.show()

statewise_orders.toPandas().to_csv(f"{output_dir}/statewise_orders.csv")

+--------------------+-----------+
|      CUSTOMER_STATE|ORDER_COUNT|
+--------------------+-----------+
|             ARIZONA|         78|
|          CALIFORNIA|        295|
|DISTRICT OF COLUMBIA|         44|
|            ILLINOIS|         64|
|      MASSAACHUSETTS|         72|
|             NEWYORK|         51|
|                OHIO|        101|
|        PENNSYLVANIA|         62|
|               TEXAS|        233|
+--------------------+-----------+

In [59]:
# Report 3: Preferred mode of payment across states
payment_mode_by_state = inventory_fact.join(transaction_dim, "TRANSACTION_ID") \
    .groupBy("TRANSACTION_TYPE") \
    .agg(count("TRANSACTION_ID").alias("ORDER_COUNT")) \
    .orderBy(col("ORDER_COUNT") , ascending = True)

In [77]:
payment_mode_by_state.show()

payment_mode_by_state.toPandas().to_csv(f"{output_dir}/payment_mode_by_state.csv")

+----------------+-----------+
|TRANSACTION_TYPE|ORDER_COUNT|
+----------------+-----------+
|     CREDIT CARD|        108|
|      DEBIT CARD|        178|
|          PAYPAL|        199|
|             COD|        248|
|     NET BANKING|        267|
+----------------+-----------+

In [61]:
# Report 4: Quarterly profit for a particular year
# Profit = PRODUCT_SELLING_PRICE - PRODUCT_COST_PRICE

year_filter = 2011  #  desired year

# we are using group by "YEAR" because we want year in our output

quarterly_profit = inventory_fact.join(time_dim, "TIME_DIM_ID") \
    .filter(col("YEAR") == year_filter) \
    .groupBy("YEAR", "QUARTER") \
    .agg(sum(col("PRODUCT_SELLING_PRICE") - col("PRODUCT_COST_PRICE")).cast("int").alias("PROFIT")) \
    .orderBy("QUARTER")

In [78]:
quarterly_profit.show()

quarterly_profit.toPandas().to_csv(f"{output_dir}/quarterly_profit.csv")

+----+-------+------+
|YEAR|QUARTER|PROFIT|
+----+-------+------+
|2011|      1| 47030|
|2011|      2| 42941|
|2011|      3| 42572|
|2011|      4| 37421|
+----+-------+------+

In [ ]:
#updating the product table ( as we have multiple data for

In [63]:
# Report 5: Quarterly sales count of each product category

# filtering for required year


year_filter = int(input("enter the year"))

quarterly_sales_count = inventory_fact.join(time_dim, "TIME_DIM_ID") \
    .join(products_dim, "PRODUCT_ID") \
    .filter(col("YEAR") == year_filter)\
    .filter(col("CATEGORY_ID") == 4005) \
    .groupBy("YEAR", "QUARTER", "CATEGORY_ID", "PRODUCT Name") \
    .agg(count("TRANSACTION_ID").alias("SALES_COUNT")) \
    .orderBy("YEAR", "QUARTER", "CATEGORY_ID")

enter the year 2011

In [79]:
quarterly_sales_count.show()

quarterly_sales_count.toPandas().to_csv(f"{output_dir}/quarterly_sales_count.csv")

+----+-------+-----------+------------+-----------+
|YEAR|QUARTER|CATEGORY_ID|PRODUCT Name|SALES_COUNT|
+----+-------+-----------+------------+-----------+
|2011|      1|       4005|      LAPTOP|         13|
|2011|      2|       4005|      LAPTOP|         13|
|2011|      3|       4005|      LAPTOP|         11|
|2011|      4|       4005|      LAPTOP|         13|
+----+-------+-----------+------------+-----------+

In [1]:
print("sdfa")

sdfa