In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

# Create a Spark session
spark = SparkSession.builder.appName("GroupBy Sum Example").getOrCreate()

# Sample data
data = [
    ("HR", "Alice", 3000),
    ("HR", "Bob", 2500),
    ("IT", "Charlie", 5000),
    ("IT", "David", 4500),
    ("Finance", "Eve", 4000)
]

# Create a DataFrame
df = spark.createDataFrame(data, ["Department", "Employee", "Salary"])

# Group by the 'Department' column and calculate the total salary for each department
grouped_df = df.groupBy("Department").agg(sum("Salary").alias("Total Salary"))

# Show the result
grouped_df.show()

# Stop the Spark session
# spark.stop()

+----------+------------+
|Department|Total Salary|
+----------+------------+
|        HR|        5500|
|        IT|        9500|
|   Finance|        4000|
+----------+------------+

In [3]:
grouped_df = df.groupBy("Department") \
               .agg(sum("Salary").alias("Total Salary")) \
               .orderBy("Total Salary", ascending=False)

# Show the result
grouped_df.show()

+----------+------------+
|Department|Total Salary|
+----------+------------+
|        IT|        9500|
|        HR|        5500|
|   Finance|        4000|
+----------+------------+